<footer>
    <hr class="footer-divider"/>
    <div class="footer-row">
      <div class="footer-col-first">
        <h2>Brew Stack</h2>
        <p>Your Go to friend for affordable coffee.</p>
        <!-- <p>and Nurturing Wellness Practice.</p> -->
        <a href="https://www.buymeacoffee.com/kaurharmehh" class="buyMeCoffee-btn">
          <div class="mt-5 d-flex align-items-center">
            <img class="img-buy-coffee mr-3" src="images/buyMeCoffeeLogo.png">
            Help us grow more
          </div>
        </a>
      </div>
      <div class="footer-col footer-col-second">
        <h2>
          Support
          <div class="underline"><span></span></div>
        </h2>
        <p>Help center</p>
        <a class="email-id" href="mailto:brokepoem2002@gmail.com">studentCommunityClub79@gmail.com</a>
        <p class="footer-icon-contact mt-4">Contact us at -</p>
        <div class="social-icons">
          <!-- change the link for a facebook id of one of us -->
          <a href="mailto:kaurharmehar9717@gmail.com">
            <i class="fa fa-envelope"></i>
          </a>

          <!-- change to insta of one of us  -->
          <a href=""
            ><i class="fa fa-instagram"></i
          ></a>

          <!-- change to twitter of one of us  -->
          <a href=""
            ><i class="fa fa-twitter"></i
          ></a>

          <!-- change to linkedin of one of us -->
          <a href=""
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>
      </div>
      <div class="">
        <h2>
          Product
          <div class="underline"><span></span></div>
        </h2>
        <ul>
          <li><a href="/meetingroom">Meeting Room</a></li>
          
        </ul>
      </div>
      <div class="footer-col-fourth">
        <div class="btn-container center">
          <a
            href="/subscribe"
            class="button-primary button-all"
            type="button"
            style="color: white"
            >Join Us</a
          >
        </div>
      </div>
    </div>
    <div class="footer-row2">
      <div class="footer-col">
        <p>2023Brew Stack Inc. Copyright and All rights reserved.</p>
      </div>
      <div class="footer-col">
        <p>Terms and Conditions . Privacy Policy</p>
      </div>
    </div>
  </footer>