<footer  class="footer-md-screen">
  <div  class="container">
    <div  class="row mb-5">
      <div  class="col-md-2 mb-md-0 mb-4">
        <img  alt="Logo" src="images/logo.png" class="logo" style="width: 62px; height: 62px;">
      </div>
      <div  class="col-md-2 mb-md-0 mb-4">
        <h3  class="footer-heading">
          About Us 
          <span  class="arrow arrow-top arrow-bottom"></span>
        </h3>
        <ul  class="box list-unstyled">
          <li>
            <a href="/heritage" title="Our Heritage"> Our Heritage </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a href="/about" title="Our Company"> Our Company </a>
          </li>
        </ul>
      </div>
      <div  class="col-md-2 mb-md-0 mb-4">
        <h3  class="footer-heading">
          Responsibility 
          <span  class="arrow arrow-top arrow-bottom"></span>
        </h3>
        <ul  class="box list-unstyled">
          <li >
            <a href="" title="Community"> Community </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Diversity"> Diversity </a>
          </li>
        </ul>
      </div>
      <div  class="col-md-2 mb-md-0 mb-4">
        <h3  class="footer-heading">
          Quick Links 
          <span  class="arrow arrow-top arrow-bottom"></span>
        </h3>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Privacy Policy"> Privacy Policy </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Careers"> Careers </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Customer Service"> Customer Service </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Terms and Conditions"> Terms and Conditions </a>
          </li>
        </ul>
        <ul  class="box list-unstyled">
          <li >
            <a  title="Brew Stack India On the way"> 
              On the Way 
            </a>
          </li>
        </ul>
      </div>
      <div  class="col-md-4 mb-md-0 mb-4 d-flex">
        <div >
          <h3  class="footer-heading">SOCIAL MEDIA </h3>
          <ul  class="ft-social-list">
            <li >
              <a  href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-instagram" style="width: 35px; height: 35px;"></i>
              </a>
            </li>
            <li >
              <a  href="https://www.facebook.com/" target="_blank">
                <i class="fa-brands fa-square-facebook" style="width: 35px; height: 35px;"></i>
              </a>
            </li>
            <li >
              <a  href="https://twitter.com/" target="_blank">
                <i class="fa-brands fa-x-twitter" style="width: 35px; height: 35px;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section  class="ft-legal">
      <ul  class="ft-legal-list">
        <li >
          <a  routerlink="" title="Web Accessiblity" href="/">Web Accessiblity</a>
        </li>
        <li >
          <a  routerlink="" title="Privacy Statement" href="/">Privacy Statement</a>
        </li>
        <li >
          <a  routerlink="" title="Terms of Use" href="/">Terms of Use</a>
        </li>
        <li >
          <a  title="Contact Us" href="/profile/help-center">Contact Us</a>
        </li>
        <li >
          <a  routerlink="" href="/">© 2023 Brew Stack Coffee Company. All rights reserved.</a>
        </li>
      </ul>
    </section>
  </div>
</footer>