
<header>
    <nav class="navbar">
        <div class="left-nav">
          <a class="logo" href="/"> BS!! </a>
        </div>  

        <div class="nav-links">
            <a href="/meetingroom">Home</a>
            <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Order</a>
            <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Shop</a>
            <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Pay</a>
            <a href="https://discord.gg/ZkHXnxhda7" target="__blank">Gift</a>

        </div>
  
        <div class="right-nav">
            <input type="text" class="search" placeholder="Looking for something">
            <a href="/subscribe" class="button-primary button-all" style="color: white">
                Login
            </a>
        </div>
      </nav>
</header>