<link rel="stylesheet" type="text/css" href="css/gift.css">
<div class="gift-page-wrapper">
    <!-- <section class="top-section">
        <div>
            this is dummy right now
        </div>
    </section> -->
    <section class="top-section">
        <div  class="menu-list-item">
            <div  class="menu">
                <div  class="container">
                    <div  class="row">
                        <div  class="mainViewer ng-star-inserted">
                            <div  id="content" class="content">
                                <div  class="col-12">
                                    <div  class="item_scroll">
                                        <div  class="d-flex">
                                            <div  class="border-right ng-star-inserted">
                                                <button  class="item_btn menu_btn animate__animated animate__fadeIn bttn-red-active btn-bottom-border"> 
                                                    FEATURED 
                                                </button>
                                            </div>
                                            <div  class="border-right ng-star-inserted">
                                                <button  class="item_btn menu_btn animate__animated animate__fadeIn menu-btn-hover"> 
                                                    ANYTIME 
                                                </button>
                                            </div>
                                            <div  class="border-right ng-star-inserted">
                                                <button  class="item_btn menu_btn animate__animated animate__fadeIn menu-btn-hover"> 
                                                    CONGRATULATIONS 
                                                </button>
                                            </div>
                                            <div  class="border-right ng-star-inserted">
                                                <button  class="item_btn menu_btn animate__animated animate__fadeIn menu-btn-hover"> 
                                                    THANK YOU 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>