<link rel="stylesheet" type="text/css" href="/assets/css/index.css">

<div class="dashboard-page-wrapper">

    <section class="about-us">
        <div class="card">
            <div class="card-body container">
                <div class="row align-items-center">
                    <div class="col-8 ">
                        <h5>Wanna Leave a review? We have you covered.</h5>
                        <p>Show your appreciation and love towards Brew Stack.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
    </section>
</div>