<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" type="text/css"  href="css/header.css">
    
</head>
<body>
    <%-include('_header'); %>

    <main class="main-content">
        <div>
            <p>This the dummy page. i don't know why this is not getting displayed but i have to solve it tomorrow
                 </p>
        </div>
    </main>

    <%- include('_footer'); %>

</html>