html::-webkit-scrollbar{ /*bottom right corner where horizontal and vertical scrollbars meet*/
    width: 0.5vw;
    height: 0.5vw;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(#d7d7d7, #696969);
    border: 0.3em solid #3a3a3a #000000;
    border-radius: 100vw;  
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #d0d0d0;
}

html::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 100vw;
    margin-block: 0.5em;
}
  
body{
    margin:0;
}

header{
   position: fixed;
   top: 0;
   width: 100%;
   height: 5rem;
   background: red;
   /* margin:5rem; */
   
}

a{
    text-decoration: none;
    color: black;
}

/* header  */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem; 
    text-align: center;
}

.left-nav{
    width:25%;
    
}

.nav-links{
    width:50%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-nav{
    width:25%; 
}

.search{
    border-radius: 1.25rem;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    border: none;
    line-height: 1.5;
}

footer {
    width: 100vw;
    position: relative;
    bottom: 0;
    color: var(--steel-gray);
    line-height: 10px;
    font-size: 1.0em;
    font-family: var(--font-roboto);
  }
  
  footer p{
    justify-content: space-between;
  }
  
  
  .footer-row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 6em;
  }
  
  
  .footer-col-first {
    flex-basis: 30%;
  }
  
  
  footer hr {
    width: 90%;
    border: 0;
    border-bottom: 0.5px solid var(--steel-gray);
    padding-top: 5em;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .footer-col-first h2, .footer-col h2{
    font-size: 1.8em;
    margin-bottom: 1em;
    font-weight: 300;
  }
  
  
  .footer-col h2{
    width: fit-content;
    margin-bottom: 1em;
    position: relative;
  }
  
  
  .email-id{
    width: fit-content;
    color: var(--slate-gray);
    text-decoration: none;
    font-size: 1em;
  }
  
  
  .footer-col ul{
    padding-left: 0;
  }
  
  
  .footer-col ul li{
    margin-bottom: 1rem;
  }
  
  
  .footer-col ul li a{
    color: var(--steel-gray);
  }
  
  
  .footer-col-fourth .btn-container{
    margin: 0 20px;
  }
  
  
  .footer-col-fourth a{
    padding: 12px 20px;
  }
  
  
  .footer-row2{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 15px;
  }
  
  
  .footer-icon-contact{
    line-height: 40px;
    margin-bottom: 0;
  }
  
  
  .social-icons{
    padding-top: 0.8em;
  }
  
  
  .social-icons .fa{
    width: 30px;
    height: 30px;
    font-size: 1.8em;
    color : var(--steel-gray);
    margin-right: 15px;
    cursor: pointer;
  }
  
  @media (max-width: 700px){
    footer{
        text-align: center !important;
        bottom: unset;
    }
    .footer-row, .footer-row2{
      flex-direction: column;
      align-items: center;
    } 
    .footer-col-first h2, .footer-col h2{
      all: revert;
      font-size: xx-large;
    }
    .footer-col-third{
      margin-top: 2em;
    }
    .footer-col-first p{
      display: inline;
    }
    .footer-col-first div {
      justify-content: center;
    }
    .footer-col-second{
      margin-top: 2em;
    }
    .footer-col-fourth{
      margin-top: 2em;
    }
    .footer-icon-contact{
      line-height: 1em;
    }
    .email-id{
      margin: 1em 0;
      margin-bottom: 2em !important;
    }
  
  }

/* body  */

.main-content{
    min-height: 40rem;
}